* {
  margin: 0;
  padding: 0;
}

body {
  transition: 1s;
  background-color: rgb(224, 219, 219);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  height: 10vh;
  padding: 10px 30px 20px;
  text-transform: capitalize;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav > ul {
  display: flex;
  justify-content: space-around;
}
.header-nav > ul > li {
  list-style-type: none;
  margin: 5px;
}
.header .logo {
  width: 80px;
  height: 80px;
}
.header a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 400;
}
.header a:hover {
  text-decoration: underline;
}
.header .switch {
  position: relative;
  height: 25px;
  width: 50px;
  border-radius: 15px;
  background-color: rgb(124, 121, 121);
  justify-content: center;
  cursor: pointer;
}
.header .flicker {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 7.5px;
  top: 5px;
  left: 3px;
  transition: 0.5s;
}
.header .moon {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  top: 3px;
  left: 27px;
}

.hero {
  display: flex;
  margin: 0px 30px;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: rgb(212, 208, 208);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.hero h1 {
  font-size: 70px;
  font-weight: 300;
}
.hero p {
  font-size: 20px;
  font-weight: 300;
}
.hero .text {
  width: 50%;
}
.hero .me-img {
  width: 250px;
  height: 300px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
  background-color: rgba(204, 212, 212, 0.178);
}
.hero .me-img > img {
  width: 90%;
  height: 100%;
}

.dark {
  background-color: rgb(27, 29, 56);
  color: white;
  transition: 1s;
}
.dark .flicker {
  left: 25px;
  background-color: rgb(124, 121, 121);
  transition: 0.5s;
}
.dark .moon {
  box-shadow: 2px 1px 0px 1px rgb(150, 201, 250);
  transition: 1s;
}

.about {
  display: flex;
  height: 40vh;
  padding: 0px 30px;
  font-size: 20px;
}
.about .me-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 0px 20px;
  background-color: aliceblue;
}
.about .tool-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 0px 20px;
  background-color: aliceblue;
}
.about h2 {
  font-size: 30px;
  font-weight: 350;
}
.about h3 {
  font-size: 20px;
  font-weight: 400;
}
.about h4 {
  font-size: 24px;
  font-weight: 400;
}
.about p {
  font-size: 20px;
  font-weight: 350;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: rgb(171, 179, 190);
  margin: 0px 30px;
}
.projects h2 {
  font-size: 30px;
  font-weight: 600;
}
.projects h4 {
  font-size: 20px;
  font-weight: 500;
}
.projects a {
  text-decoration: none;
  color: black;
}
.projects a:hover {
  font-style: italic;
}
.projects .main-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
  justify-content: center;
}
.projects .project {
  width: 40%;
  height: 300px;
  margin: 10px 20px;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.projects .ttc {
  background-image: url("./images/ttc.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.projects .piano {
  background-image: url("./images/piano.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.projects .bgc {
  background-image: url("./images/bgc.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.projects .cal {
  background-image: url("./images/cal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(7, 37, 37);
  color: rgb(97, 97, 96);
  margin: 0px 30px;
}
.footer img {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-right: 5px;
}
.footer div {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */